{% extends "base.html" %}

{% block nav %}
{% if user.is_authenticated %}
    <li class="nav-item active">
        <a class="nav-link" href="addProduct">Ajouter un produit</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="station/ajouter">Ajouter une station</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="signout">Logout</a>
    </li>
    
{% else %}
    <li class="nav-item active">
        <a class="nav-link" href="signin">Login</a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in product_object %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ product.image.url }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <div style="color: orange" class="card-text">Price: {{ product.price }}</div>
                    <div style="color: orange" class="card-text">Quantity: {{ product.quantity }}</div>
                    <a href="{{ product.id }}" class="btn btn-warning">Voir</a>
                    <button id="{{ product.id }}" class="btn ted btn-success">Ajouter</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="panier" data-toggle="popover" data-placement="bottom"></div>
</div>

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    console.log('Juste pour tester');
    $(document).ready(function() {
        if(localStorage.getItem('panier') == null){
            var panier = {};
        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }

        $(document).on('click', '.ted', function(){
            console.log('ajouter');
            var item_id = this.id.toString();
            console.log(item_id);
            if(panier[item_id] != undefined){
                quantite = panier[item_id][0] + 1;
                panier[item_id][0] = quantite;
                panier[item_id][2] += parseFloat($("#price" + item_id).text());
            }else{
                quantite = 1;
                prix = parseFloat($("#price" + item_id).text());
                nom =  $("#aa" + item_id).text();
                panier[item_id] = [quantite, nom, prix];
            }
            console.log(panier);
            localStorage.setItem('panier', JSON.stringify(panier));
            $("#panier").text("Panier(" + Object.keys(panier).length + ")");
        });

        AfficherList(panier);
        
        function AfficherList(panier) {
            var panierString = "<h5>Voici votre liste</h5>";
            var index = 1;
            for (var x in panier) {
              panierString += index + ". " + $("#aa" + x).text() + " Qte: " + panier[x][0] + "<br>";
              index += 1;
            }
            panierString += "<a href='/checkout' class='btn btn-primary'>Checkout</a>";
            $("#panier").attr('data-content', panierString);
          }
          

        // Activation du popover
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}

{% endblock %}
