{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="bg-light p-5 rounded text-center">
        <h2>Ajouter une nouvelle station</h2>
    </div>
    <div class="bg-light p-5 rounded text-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{% url 'homeStation' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
