<h1>{{ station.nom }}</h1>
<p><strong>Localisation:</strong> {{ station.localisation }}</p>
<p><strong>NNI:</strong> {{ station.nni }}</p>
<p><strong>Email:</strong> {{ station.email }}</p>
<p><strong>Téléphone:</strong> {{ station.telephone }}</p>
<p><strong>Status:</strong> {{ station.get_status_display }}</p>
<p><strong>Type de carburant:</strong> {{ station.typeCarburant }}</p>
<p><strong>Mode de paiement:</strong> {{ station.modePaiyement }}</p>
<p><strong>Latitude:</strong> {{ station.latitude }}</p>
<p><strong>Longitude:</strong> {{ station.longitude }}</p>
